{% props svg, color %}
<button
    {{ attributes.defaults({class: 'btn btn-sm btn-outline-' ~ color ~ ' mt-2 me-2 position-absolute top-0 end-0'}) }}
>
    {{ include('svg/' ~ svg ~ '.html.twig') }}
</button>
