{% props svg, color, x = 'top', y = 'end' %}

{% set position = cva({
    base: 'position-absolute',
    variants: {
        x: {
            top: 'mt-2 me-2 top-0 end-0',
            bottom: 'mb-2 me-2 bottom-0 end-0'
        }
    }
})%}

<button
    {{ attributes.defaults({class: 'btn btn-sm text-' ~ color ~ ' ' ~ position.apply({x})}) }}
>
    {{ include('svg/' ~ svg ~ '.html.twig') }}
</button>
