<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - Big Desk</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="container py-3 mb-5">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>
        <nav class="navbar fixed-bottom bg-body-tertiary px-4 py-4 navbar-expand">
            <div class="container-fluid">
                <ul class="navbar-nav me-auto">
{#                    <li class="nav-item"><a class="nav-link" href="{{ path('app_main_index') }}">home</a></li>#}
                </ul>
            </div>
        </nav>
    </body>
</html>
